.search-results__title {
  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 1;
  font-size: 26px;
  line-height: 30px;
  color: #1a1b22;
  max-width: 352px;
  padding-bottom: 16px;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .search-results__title {
    font-size: 24;
    line-height: 28px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 960px) {
  .search-results__title {
    font-size: 22px;
    line-height: 24px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 720px) {
  .search-results__title {
    padding-right: 0;
    padding-bottom: 16px;
    max-width: 288px;
    padding-top: 2px;
    font-size: 22px;
    line-height: 28px;
  }
}
