.search-results__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .search-results__header {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
