.search-results__text-container {
  display: flex;
  flex-direction: column;
  padding: 20px 24px;
  height: 42.88%;
}

@media screen and (max-width: 960px) {
  .search-results__text-container {
    padding: 16px;
  }
}
