.commits__card {
  /*width: 100%;
  min-width: 336px;
  max-height: 288px;*/
  background: #ffffff;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  padding: 24px;
  box-sizing: border-box;


}

/*@media screen and (max-width: 768px) {
  .commits__card {
    max-width: 336px;
    min-width: 288px;
  }
}*/

@media screen and (max-width: 768px) {
  .commits__card {
    padding: 16px;
  }
}

/*.commits__card:not(:last-child) {
  margin-right: 16px;
}*/
