.footer__link-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  line-height: 24px;
}

@media screen and (max-width: 768px) {
  .footer__link-menu {
    max-width: 360px;
  }
}

@media screen and (max-width: 720px) {
  .footer__link-menu {
    font-size: 14px;
    line-height: 20px;
  }
}

@media screen and (max-width: 600px) {
  .footer__link-menu {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 120px;
    padding-top: 20px;
    font-size: 18px;
    line-height: 24px;
  }
}
