.commits__show-more-button {
  width: 288px;
  height: 56px;
  display: none;
}

@media screen and (max-width: 600px) {
  .commits__show-more-button {
    display: block;
    border: 1px solid #1a1b22;
    box-sizing: border-box;
    border-radius: 80px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    color: #1a1b22;
    margin: 24px auto 0 auto;
    padding-top: 15px;
  }
}
