.search-results__text {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1a1b22;
  max-width: 352px;
  margin: 0;
  padding-bottom: 18px;
}

@media screen and (max-width: 768px) {
  .search-results__text {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    /*white-space: nowrap;*/
    /*text-overflow: ellipsis;*/
    max-width: 192px;
    height: 88px;
    margin-bottom: 12px;
    padding-bottom: 0;
  }
}
