@import url(./__container/search-section__container.css);
@import url(./__paragraph/search-section__paragraph.css);

.search-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
