.search-field__input {
  position: relative;
  width: 100%;
  height: 64px;
  background: #FFFFFF;
  border: 1px solid #D1D2D6;
  box-sizing: border-box;
  backdrop-filter: blur(8px);
  border-radius: 100px;
  padding-left: 24px;
}

.search-field__input::-webkit-input-placeholder {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #b6bcbf;
}

.search-field__input:-moz-placeholder {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #b6bcbf;
}

.search-field__input:-ms-input-placeholder {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #b6bcbf;
}

.search-field__input, .search-field__input:focus, .search-field__input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.search-field__input:focus, .search-field__input:active {
  color: #1a1b22;
  padding-left: 24px;
}

.search-field__input:focus::-webkit-input-placeholder {
  color: transparent;
}

.search-field__input:focus::-moz-placeholder {
  color: transparent;
}

.search-field__input:focus:-moz-placeholder {
  color: transparent;
}

.search-field__input:focus:-ms-input-placeholder {
  color: transparent;
}

.search-field__input::-webkit-search-decoration, .search-field__input::-webkit-search-cancel-button, .search-field__input::-webkit-search-results-button, .search-field__input::-webkit-search-results-decoration {
  display: none;
}

@media screen and (max-width: 420px) {
  .search-field__input {
    margin-bottom: 16px;
  }
}
